[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
tqdm = "*"
beautifulsoup4 = "*"
lxml = "*"
html5lib = "*"
geopy = "*"
simplejson = "*"
fake-useragent = "*"
aiohttp = "*"
click = "*"

[dev-packages]
black = "*"
isort = "*"

[requires]
python_version = "3.12"
